<footer class="footer footer-expand-md footer-dark" id="footer">
	<div class="text-center text-light">
		<a class="text-light" href="https://www.facebook.com/apclo/"><img id="facebookLogo" src="assets/images/logofacebooksmall.svg" class="facebookLogo"/><br> Notre Facebook</a>
	</div>
	<div class="text-center text-light p-3">
		© 2021 Copyright:
		<a class="text-light" href="https://www.hubspot.com/hubfs/Smiling%20Leo%20Perfect%20GIF.gif">Team Purrfect</a>
	</div>
</footer>
