<footer class="footer footer-expand-md footer-dark" id="footer">
	<div class="col-1 offset-1 row p-3">
		<a class="text-light justify-content-start" href="https://www.facebook.com/apclo/"><img id="facebookLogo" src="assets/images/logofacebooksmall.svg" class="facebookLogo"/></a>
	</div>
	<div class="p-3">
		<a class="text-light justify-content-end" href="https://www.hubspot.com/hubfs/Smiling%20Leo%20Perfect%20GIF.gif">Mentions légales</a>
	</div>
</footer>
