<nav class="navbar navbar-expand-md navbar-dark position-fixed">
	<div class="container-fluid container">
		<a class="navbar-brand logo d-inline d-md-none" href="#">
			<img src="assets/images/logo.png" alt="logo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
			<div class="navbar-nav navbar justify-content-around align-items-center">
				<a class="nav-link" href="/"><img id="catHouseSvg" src="/assets/images/cathouse.svg" class="catHouseSvg me-1"/>
					Accueil</a>
				<a class="nav-link" href="/chats"><img id="catSvg" src="/assets/images/cat.svg" class="catSvg me-1"/>
					Chats</a>
				<a class="d-none d-md-inline logo mx-3" href="/">
					<img src="/assets/images/logo.png" alt="logo">
				</a>
				<a class="nav-link" href="/association"><img id="pawSvg" src="/assets/images/paw.svg" class="pawSvg me-1"/>
					Association</a>
				<a class="nav-link" href="/contact"><img id="mailSvg" src="/assets/images/mail.svg" class="mailSvg me-1"/>
					Contact</a>
			</div>
		</div>
	</div>
</nav>
