<nav class="navbar navbar-expand-md navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand logo d-inline d-md-none" href="#">
			<img src="assets/images/logo.png" alt="logo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" href="#"><img id="catHouseSvg" src="assets/images/cathouse.svg" class="catHouseSvg"/>
					Accueil</a>
				<a class="nav-link" href="#"><img id="catSvg" src="assets/images/cat.svg" class="catSvg"/>
					Chats</a>
				<a class="d-none d-md-inline logo logo-below mx-5" href="#">
					<img src="assets/images/logo.png" alt="logo">
				</a>
				<a class="nav-link"><img id="pawSvg" src="assets/images/paw.svg" class="pawSvg"/>
					Association</a>
				<a class="nav-link"><img id="mailSvg" src="assets/images/mail.svg" class="mailSvg"/>
					Contact</a>
			</div>
		</div>
	</div>
</nav>
