<nav class="navbar navbar-expand-md navbar-dark position-fixed">
	<div class="container-fluid container">
		<a class="navbar-brand logo d-inline d-md-none" href="#">
			<img src="assets/images/logo.png" alt="logo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
			<div class="navbar-nav navbar justify-content-start align-items-center">
				<a class="d-none d-md-inline logo mx-3" href="/">
					<img src="/assets/images/logo.png" alt="logo">
				</a>
				<a class="nav-link" href="/admin/chats" class=""><img id="catSvg" src="/assets/images/cat.svg" class="catSvg ms-5 me-1" alt=" cat icon"/>
					Chats</a>
				<a class="nav-link" href="/admin/actualites/index"><img id="newsSvg" src="/assets/images/newspaperNavbar.svg" class="newsSvg ms-5 me-1" alt="actualities icon"/>
					Actualités</a>
				<a class="nav-link" href="/admin/membres"><img id="profilSvg" src="/assets/images/profil.svg" class="profilSvg ms-5 me-1" alt="profil icon"/>
					Membres</a>
			</div>
		</div>
	</div>
</nav>
