<div class="banner actuality-banner"></div>
<div class="title actuality-title">
        <h2>Dernière actualité</h2>
        <p class="text-light fs-3">{{ article.title }}</p>
        <p>{{ article.description }}</p>
        <div>{{ article.date }}</div>
        <div class="d-flex justify-content-end">
                <a href="actualities" class="m-3 btn btn-ban btn-outline-light btn-lg">+ d'actualités</a>
        </div>
</div>
