<div class="banner actuality-banner"></div>
<div class="title actuality-title">
        <h2>Dernière actualité</h2>
        <p class="entity">{{ article.title }}</p>
        <p>{{ article.description }}</p>
        <p class="date">{{ article.date }}</p>
        <a href="actualities" class="btn btn-outline-light btn-lg">Plus d'actualités</a>
</div>
