{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/banner.css">
{% endblock %}

{% block content %}
    <div class="banner"></div>
<div class="title">
        <h1>Actualités</h1>
        <p>Retrouvez ci-dessous, les actualités de l'association, nos conseils et toutes nos astuces afin de vous tenir informés de notre activité et de vous aider à vous occuper de vos compagnons à quatre pattes."</p>
</div>

{% for actuality in actualities %}
    <div class="separator d-flex justify-content-center">
        <img src="assets/images/separator.svg" alt="separator cats paws">
    </div>
        <div class="container-sm container-actuality">
            <div class="text">
                <div class="entity text-light fw-bold p-4 fs-4">{{ actuality.title }}</div>
                <p class="descrition-actuality">{{ actuality.description }}</p>
                <p class="date text-light d-flex justify-content-end fw-bold p-4">{{ actuality.date }}</p>
            </div>
        </div>
{% endfor %}

{% endblock %}
