{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/banner.css">
{% endblock %}

{% block content %}
    <div class="banner"></div>
<div class="title">
        <h1>Actualités</h1>
        <p>Retrouvez ci-dessous, les actualités de l'association, nos conseils et toutes nos astuces afin de vous tenir informés de notre activité et de vous aider à vous occuper de vos compagnons à quattre pattes."</p>
</div>

{% for actuality in actualities %}
<div>
        <img src="assets/images/separator.svg" alt="separator cats paws">
        <p class="entity">{{ actuality.title }}</p>
        <p>{{ actuality.description }}</p>
        <p class="date">{{ actuality.date }}</p>
</div>
{% endfor %}

{% endblock %}