<div class="actuality-banner"></div>
<div class="actuality-title">
        <h2>Actualités</h2>
        <p>Quelle conduite tenir si un chat qui n’a pas l’habitude de sortir s’échappe de votre logement ?
        Si vous habitez en pavillon ou en rez de jardin, laissez ouvert toute la nuit par là où le chat est sorti et réitérez plusieurs nuits de suite si nécessaire. Mettez un tout petit peu de nourriture devant la porte ou la fenêtre ouverte et davantage à l’intérieur.
        Si vous habitez en étage et que le chat a sauté par la fenêtre, mettez de la nourriture et de l’eau la nuit à l’aplomb de la fenêtre, retirez le tout tôt le matin afin de ne pas importuner vos voisins. Si la nourriture disparait, l’association peut prêter une trappe de capture.</p>
</div>