
<div class= "banner"></div>
<div class="container-ban">
    <div class="title">
    <h1> Bienvenue ! </h1>
</div>
    <p> L'APCLO est une Association pour la Protection des Chats Libres d'Orléans qui a pour but de venir en aide aux chats abandonnés, errants ou maltraités. Les chats recueillis, sont soignés puis socialisés pour ensuite être proposés à l'adoption. Vous pouvez retrouver l'ensemble de nos chats dans la rubrique "Chats".</p>
</div>


