.actuality-banner {
    --width-background-image  : 100%;
    --height-background-image: 400px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/cat-g3aaadea10_1920.jpg);
    background-size: cover;
    background-position: center;
    width: var(--width-background-image);
    height: var(--height-background-image);
}

.actuality-title {
    --width-background-color: 80%;
    --spacing1: 10px;
    --spacing2: 24px;
    --spacing3: 40px;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--light-color);
    opacity: 0.9;
    width: var(--width-background-color);
    margin: auto;
    margin-top: calc(-1 * (var(--main-title-size) + (var(--spacing2))));    
}

.actuality-title h2 {
    margin: var(--spacing2);
}

.actuality-title p {
    color: var(--third-color);
    text-indent: 10%;
    font-size: var(--text-size);
    font-family: var(--text-font);
    margin: var(--spacing2);
    padding-bottom: var(--spacing3);
}
