.icon-newspaper {
    width: 80px;
}
    
.container-sm, .alert-danger {
    --height-button: 70px;
    --width-button: 70px;
    width: 80%;
    max-width: 1100px;
    padding: 0;
}
    
.title {
    background-color: var(--primary-color);
}
    
.title h1 {
    margin-bottom: 150px;
}
    
.card-entity, .btn-entity {
    color: var(--light-color);
    font-size: 40px;
}
    
.card-entity {
    background-color: var(--secondary-color);
}
    
.card-actuality {
    background-color: var(--primary-color);
}
    
.card-title-actuality, .card-date {
    color: var(--light-color);
    font-size: var(--text-size);
}
    
.btn-entity {
    height: var(--height-button);
    width: var(--width-button);
    border-radius: var(--radius-button-circle);
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
}
    
.btn:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
}
    
.btn-close {
    height: var(--spacing1);
}

.btn-edit {
    border-radius: var(--radius-button-circle);
    background-color: var(--light-color);
    color: var(--secondary-color);
    border: none;
    height: var(--height-button);
    width: var(--width-button);
}
