.container-sm {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: var(--text-size);
    max-width: 1100px;
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing2);
}

form {
    width: 75%;
}

.button-actuality-form {
    width: var(--width-button);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    box-shadow: var(--border-shadow);
}

.btn-link {
    width: var(--width-button);
    
}

textarea {
    height: 150px;
}
