.catPhotos {
    width: 100px;
}

.container-sm,
.alert-danger {
    width    : 80%;
    max-width: 1100px;
    padding  : 0;
}

.title {
    background-color: var(--primary-color);
}

.title h1 {
    margin-bottom: 50px;
}

.card-entity,
.btn-entity {
    color: var(--light-color);
}

.card-entity {
    background-color: var(--secondary-color);
}

.card-cat {
    background-color: var(--primary-color);
}

.card-title-cat,
.card-date {
    color: var(--light-color);
}

.btn-entity {
    height          : var(--height-button-icon);
    width           : var(--width-button-icon);
    border-radius   : var(--radius-button-circle);
    background-color: var(--primary-color);
    color           : var(--light-color);
    font-weight     : bold;
}

.btn:hover {
    background-color: var(--third-color);
    color           : var(--primary-color);
}

.btn-close {
    height: var(--spacing);
}

.btn-edit {
    border-radius: var(--radius-button-circle);
    height       : var(--height-button-icon);
    width        : var(--width-button-icon);
}

.btn-edit,
.btn-delete {
    background-color: var(--light-color);
    color           : var(--secondary-color);
    border          : none;
}

.btn-delete {
    border-radius: var(--border-radius);
    font-size    : 14px;
}

.card-date {
    width: 150px;
}