.icon-newspaper {
    width: 80px;
}

.container-sm, .alert-danger {
    width: 80%;
}

.container-sm {
    max-width: 1100px;
    padding: 0;
}

.title {
    background-color: var(--primary-color);
}

.title h1 {
    margin-bottom: 150px;
}

.card-entity, .btn-entity {
    color: var(--light-color);
    font-size: 40px;
}

.card-entity {
    background-color: var(--secondary-color);
}

.card-actuality {
    background-color: var(--primary-color);
}

.card-title-actuality, .card-date {
    color: var(--light-color);
    font-size: var(--text-size);
}

.btn-entity {
    height: var(--height-button-icon);
    width: var(--width-button-icon);
    border-radius: var(--radius-button-circle);
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
}

.btn:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
}

.btn-close {
    height: var(--spacing);
}
