

body{
    background-color: var(--background);
}

.banniere_asso{
    height: 435px;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.title {
    font-family: var(--title-font);
}

.asso_text{
    font-family: var(--text-font);
}

.member {
    height: 228px;
    background-color: var(--form-color);
    font-family: var(--text-font);
    border-radius: 8px;
    
}

.job {
    color: rgb(255, 255, 255);
}