@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Handlee&display=swap');

:root {
    --primary-color     : #f1cdb3;
    --secondary-color   : #dfa981;
    --form-color        : #E8c1a5;
    --background        : #e5e5e5;
    --title-font        : Handlee;
    --text-font         : Bellota;
}

body{
    background-color: var(--background);
}

.banniere_asso{
    height: 435px;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.title {
    font-family: var(--title-font);
}

.asso_text{
    font-family: var(--text-font);
}

.member {
    height: 228px;
    background-color: var(--form-color);
    font-family: var(--text-font);
    border-radius: 8px;
    
}

.job {
    color: rgb(255, 255, 255);
}