.member {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--border-shadow);
    margin: var(--spacing);
}

.card-img-top {
    border-radius: var(--border-radius);
}

.member-name {
    font-size: var(--text-size) / 2;
}

.member-job {
    font-size: 12px;
}

body{
    background-color: var(--background);
}

.banner_asso{
    color: var(--third-color);
    background-color: var(--secondary-color);
    opacity: .9;
    box-shadow: var(--border-shadow);
}

.title {
    font-family: var(--title-font);
}

.asso_text{
    font-family: var(--text-font);
}

