.banner {
    position: relative;
    background-repeat: no-repeat;
    width: 100vw;
    background-image: url(/assets/images/cat-g6928c8fae_1280.jpg);
    aspect-ratio: 16 / 5;
    background-size:cover;
    background-position: center 30%;
}

