.card-cat {
    height          : 300px;
    border-radius   : 8px;
    background-color: var(--primary-color);
    border          : none;
    box-shadow      : var(--border-shadow);
}

.container-sm {
    max-width: 1100px;
}

.card-cat .card-img-top {
    height: 200px;
}

.card-cat ul {
    list-style-type     : none;
    padding-inline-start: 0;
    margin              : 0;
    color               : var(--third-color);
    font-size           : 20px;
}

.description {
    display        : flex;
    justify-content: space-between;
}

.btn-circle {
    align-self      : flex-end;
    background-color: var(--light-color);
    color           : var(--primary-color);
    font-size       : var(--title-size);
    box-shadow      : var(--border-shadow);
    font-weight     : bold;
    border-radius   : 50%;
    width           : 50px;
    aspect-ratio    : 1 / 1;
    padding         : 0;
}

.btn:hover {
    background-color: var(--third-color);
}

.logo {
    margin-inline: var(--spacing);
}