.banner_asso {
    font-family: var(--text-font);
    color: var(--third-color);
}

.form_coordinates_title {
    font-family: var(--title-font);
}

.form_box {
    background-color: var(--primary-color);
    padding: var(--spacing);
    margin-bottom: 50px;
}

.form_subject {
    background-color: var(--primary-color);
    padding: var(--spacing);
    font-family: var(--text-font);
}

.separator {
    height: 750px;
}

.apclo_coordinates {
    background-color: var(--primary-color);
    padding: 20px;
    margin-top: 90px;
    margin-bottom: 100px;
}

.btn:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
}

.map {
    max-width: 450px;
    max-height: 400px;
}

textarea {
    height: 100px;
}

.icon-adress {
    width: 30px;
    height: 30px;
}

.icon-phone {
    width: 40px;
    height: 40px;
}

.phone, .adress {
    margin-left: 60px;
}

.postal {
    margin-left: 120px;
}
