@import url('style.css');

body {
    background-color: var(--background);
    border-radius:  var(--border-radius);
}

.form_coordinates_title {
    font-family: var(--title-font);
}

.form_box {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 500px;
    height: 360px;
    background-color: var(--form-color);
    border-radius:  var(--border-radius);
    padding: var(--spacing2);
}

.form_subject {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 500px;
    height: 260px;
    font-family: var(--text-font);
    background-color: var(--form-color);
    border-radius: var(--border-radius);
    padding:  var(--spacing2);
}

.apclo_coordinates {
    font-family: var(--text-font);
    width: 325px;
    background-color: var(--form-color);
    border-radius:  var(--border-radius);
    padding:  var(--spacing2);
    margin-bottom:  var(--spacing2);
}