@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Handlee&display=swap');
@import url(style.css);


.banner{
    font-family: var(--text-font);
}

.form_coordinates_title {
    font-family: var(--title-font);
}

.form_box {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 500px;
    height: 360px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--spacing);
}

.form_subject {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-family: var(--text-font);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--spacing);
}

.separator{
    height: 750px;
}

.apclo_coordinates {
    font-family: var(--text-font);
    width: 325px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    margin-bottom: var(--spacing);
}