nav {
    background-color: var(--third-color);
    font-family: var(--text-font);
    font-size: var(--navbar-title-size);
}

.container {
    max-width: 1100px;
}

.navbar {
    width: 100%;
}

nav.navbar {
    position: fixed;
    z-index: 2;
    top:0;
}

nav .logo {
    --logo-size: 100px;
    width: var(--logo-size);
    height: var(--logo-size);
    margin-bottom: -50px;
    opacity: 100%;
    z-index: 1;
}

.logo img {
    width: 100%;
}

.catSvg {
    height: 26px;
}

.mailSvg, .pawSvg, .catHouseSvg {
    height: 22px;
}