@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Handlee&display=swap');
@import url('banner.css');
:root {
    --primary-color     : #f1cdb3;
    --secondary-color   : #dfa981;
    --third-color       : #40332d;
    --light-color       : #FAFAFA;
    --intermediate-color: #868686;
    --dark-color        : #111111;
    --title-font        : Handlee;
    --text-font         : Bellota;
    --main-title-size   : 80px;
    --title-size        : 30px;
    --text-size         : 26px;
    --border-shadow     : 2px 2px 6px var(--intermediate-color);
    --spacing           : 8px;
    --spacing2          : calc(var(--spacing) * 2);
    --spacing3          : calc(var(--spacing) * 3);
    --spacing4          : calc(var(--spacing) * 4);
    --height-card       : 350px;
    --height-image-card : calc(var(--height-card) / 2.1);
    --border-radius     : 8px;
}

body {
    background-color: var(--light-color);
}

h1 {
    font-size: var(--main-title-size);
}

h2 {
    font-size: var(--title-size);
}

h1,
h2,
h3,
h4 {
    font-family: var(--title-font);
}

p,
a,
li {
    font-family: var(--text-font);
}