@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Handlee&display=swap');

@import "navbar.css";
@import "footer.css";

:root {
    --primary-color     : #f1cdb3;
    --secondary-color   : #dfa981;
    --third-color       : #40332d;
    --light-color       : #FAFAFA;
    --intermediate-color: #CCCCCC;
    --dark-color        : #111111;
    --title-font        : Handlee;
    --text-font         : Bellota;
    --main-title-size   : 80px;
    --title-size        : 30px;
    --text-size         : 26px;
}

h1 {
    font-size: var(--main-title-size);
}

h2 {
    font-size: var(--title-size);
}

h1,
h2,
h3,
h4 {
    font-family: var(--title-font);
}
