:root {
    --primary-color     : #BCE5A9;
    --secondary-color   : #7DCEBF;
    --radius-button-circle: 50%;
    --height-button-icon: 60px;
    --width-button-icon: 60px;
    --width-button: 200px;
}
