:root {
    --primary-color: #BCE5A9;
    --secondary-color: #7DCEBF;
    --radius-button-circle: 50%;
    --height-button-icon: 70px;
    --width-button-icon: 70px;
    --width-button: 200px;
}

.banner {
    background-color: var(--primary-color);
}