<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="..." alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Card title</h5>
		<p class="card-text">
			<ul>
				<li>first information</li>
				<li>second information</li>
				<ul></p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</p>
	</div>
</div>