<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="chat.jpg" alt="Card image cap">
	<div class="card-body">
		<h3 class="card-title">Card title</h3>
		<div class="card-text">
			<ul>
				<li>Age</li>
				<li>Sex</li>
			</ul>
			<a href="#" class="btn btn-primary">+</a>
		</div>
	</div>
</div>
