<form action="" method="GET" class="catsFilter container-sm form-group p-4 mt-0 my-4">
	<h3 class="filterTitle">Filtrer votre recherche</h3>
	<div class="row d-flex justify-content-between flex-wrap">
		<div class="col-lg-5 col-md-6 col-12 my-2">
			<label for="catGender">Genre</label>
			<select class="catGender form-select form-select-mb ps-4" id="catGender" name="catGender">
				<option value="">Tous les genres</option>
				{% for gender in genders %}
					<option value="{{ gender.id }}" {% if gender.id == catGender %} selected {% endif %}>{{ gender.name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-lg-5 col-md-6 col-12 my-2">
			<label for="catAge">Âge</label>
			<select class="catAge form-select form-select-mb ps-4" id="catAge" name="catAge">
				<option value="">Tous les âges</option>
				{% for symbol,age in ages %}
					<option value="{{ symbol }}" {% if symbol == catAge %} selected {% endif %}>{{ age }}</option>
				{% endfor %}
			</select>
		</div>
		{% if catGender == true  or catAge == true %}
			<div class="d-flex col-lg-1 col-md-2 col-2 my-2 align-self-end">
				<a href="chats" class="reinitializeBtn btn btn-mb">Effacer</a>
			</div>
		{% endif %}
		<div class="d-flex col-lg-1 {% if catGender == false  and catAge == false %}offset-lg-1 offset-md-10 offset-10{% endif %} col-md-2 col-2 my-2 justif-content-end align-self-end">
			<button class="catsFilterBtn btn btn-mb">Filtrer</button>
		</div>

	</div>
</form>

