{% extends 'layoutAdmin.html.twig' %}

{% block content %}
    <main class="container-fluid">
        <div class="banner"></div>
            <div class="title">
                <h1>Ajouter une actualité</h1>
        </div>
        {% include 'Admin/Actuality/_form.html.twig' %}
    </main>
{% endblock %}