{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/banner.css">
    <link rel="stylesheet" href="/assets/css/style-admin.css">
    <link rel="stylesheet" href="/assets/css/admin-actuality-form.css">
{% endblock %}

{% block content %}
        <div class="banner"></div>
            <div class="title">
                <h1 class="actuality-edit pt-3">Éditer une actualité</h1>
        </div>
            <main class="container-fluid">
                {% include 'Admin/Actuality/_form.html.twig' with {'button_name' :'Éditer'} %}
            </main>
{% endblock %}