<div class="banner"></div>
<div class="title">
	<h1 class="association p-1">L'APCLO</h1>
	<p class="ban-accueil fs-4">"Association pour la Protection des Chats Libres d'Orléans"</p>
	<p>D'une année sur l'autre notre association compte en moyenne 500 membres à jour de leur cotisation.
					Le bureau est constitué d'un président, d'une vice-présidente, d'un secrétaire et d'un trésorier.
					Le conseil d'administration compte 9 membres renouvelables par tiers.</p>
</div>
<div class="title text-center mt-1 mb-4">
	<h2>Notre équipe</h2>
</div>
{% include 'Association/_card.html.twig' %}
