<div class="container">
	<div class="row justify-content-between text-center">
		<div class="member col-sm-2">
			<div class="member-image">
				<img class="card-img-top" src="..." alt="member-image">
			</div>
			<div class="member-name">
				<p>M. Frodon Sacquet</p>
			</div>
			<div class="member-job text-light">
				<p>Directeur de l'APCLO</p>
			</div>
		</div>
		<div class="member col-sm-2">
			<div class="member-image">
				<img class="card-img-top" src="..." alt="member-image">
			</div>
			<div class="member-name">
				<p>M. Sam Gamegie</p>
			</div>
			<div class="member-job text-light flex-end">
				<p>Trésorier de l'APCLO</p>
			</div>
		</div>
		<div class="member col-sm-2">
			<div class="member-image">
				<img class="card-img-top" src="..." alt="member-image">
			</div>
			<div class="member-name">
				<p>M. Gandalf Legris</p>
			</div>
			<div class="member-job text-light">
				<p>Vétérinaire de l'APCLO</p>
			</div>
		</div>
		<div class="member col-sm-2">
			<div class="member-image">
				<img class="card-img-top" src="..." alt="member-image">
			</div>
			<div class="member-name">
				<p>M. Peregrin Touque</p>
			</div>
			<div class="member-job text-light">
				<p>Bénévole de l'APCLO</p>
			</div>
		</div>
		<div class="member col-sm-2">
			<div class="member-image">
				<img class="card-img-top" src="..." alt="member-image">
			</div>
			<div class="member-name">
				<p>Mme. Gala Driel</p>
			</div>
			<div class="member-job text-light flex-end">
				<p>Secrétaire de l'APCLO</p>
			</div>
		</div>
	</div>
</div>
