{% extends 'layout.html.twig' %}


{% block content %}
	<header class="banner" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></header>
				<title>Association</title>
			</head>

			<body>

				<div class="banner_asso col-8">
					<div class="title  p-1">
						<h1>L' Association</h1>
					</div>


					<div class="text-center">
						<p>D'une année sur l'autre notre association compte en moyenne 500 membres à jour de leur cotisation.
						Le bureau est constitué d'un président, d'une vice-président, d'un secrétaire et d'un trésorier.
						Le conseil d'administration compte 9 membres renouvlables par tiers.</p>
					</div>
				</body>
			</body>
		</div>
	</body>
</div>
{% endblock %}
