<div class="container">
	<div class="row justify-content-between text-center">
		{% for cat in cats %}
			<div class="cat col-sm-2">
				<div class="member-image">
					<img class="card-img-top" src={% if cat.image is not empty %} "assets/uploads/{{ cat.image}}" {% else %} "assets/images/silhouette.png" {% endif %} alt="cat-image">
				</div>
				<div class="cat-name">
					<p>{{ cat.gender }}
						{{ cat.name }}
						{{ cat.age }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
