<div class="banner"></div>
<div class="title">
	<h1>{{ cat.name }}</h1>
	<p>Pour une demande d'adoption, merci de remplir le formulaire. En vue d'une adoption réussie, prévoyez du temps pour la rencontre et munissez-vous d'une cage de transport. Pour des raisons de sécurité, les chats adoptés ne quitteront pas le refuge ou leur famille d'accueil sans cage. Cliquez sur le nom ou la photo de chaque chat pour en visualiser la fiche complète.</p>
</div>
