<div class="banner mt-5"></div>
<div class="title">
	<h1 class="contact p-1">Contactez-nous</h1>
	<p class="ban-contact fs-4">Sur rendez-vous en semaine. Nous ne faisons pas d'adoptions le dimanche.
								Sans rendez-vous tous les samedis de 15h00 à 18h00 (sauf pour les problèmes de chats errants).
								Pour les chats en famille d'accueil, merci d'appeler les numéros de téléphone affichés dans les coordonnées</p>
</div>
